<%- include("header") -%>

  <div class="box">
    <h2>Hope you liked my To-Do List</h2>
    <p> Hello! I am <strong>Rahul Bansal</strong>,<br>your next-door developer</p>
  </div>

<%- include("footer") -%>
